body{
    background-color: rgb(40, 40, 40);
}

.banner{
    background-image: url(close-up_photo_of_codes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
}

.banner p{
    color: chartreuse;
}

.profile-img{
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
}

.banner{
    color: white;
}

.container-fluid{
    background-color: rgb(40, 40, 40);
}

.container-fluid a{
    text-decoration: none;
    color: white;
}

.container-fluid a:hover{
    color:chartreuse;
}

.carouselExampleFade{
    width: 80%;
}

.card{
    margin: 10px;
    margin-top: 20px;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis */
}

.btn-primary{
    background-color: chartreuse;
    border: 0;
    color: rgb(40, 40, 40);
}

.btn-primary:hover{
    background-color: black;
    color: white;
}

.finalSeparator{
    background-color: white;
    height: 1px;
    width: 100%;
}

footer{
    color: rgb(240, 240, 240);
}